::-webkit-scrollbar { /* длина-ширина */
    width: 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(250, 235, 215, 0.62); /* цвет тени полоски */
    background: rgba(250, 235, 215, 0.62); /* цвет полоски */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    /*background: grey; !* цвет слайдера *!*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(250, 235, 215, 0.62); !* цвет тени слайдера *!*/
    border-radius: 10px; /* скруглить слайдер, можно не только в пикселях, но и 5% разный будет эффект */
}


.categories-container {
    text-align: center;
}

.categories-header {
    /*position: sticky;*/
    /*top: 0px;*/
    margin: 10px auto;
}

.categories-white-list {
    font-family: "Lobster", serif;
    background: rgba(250, 235, 215, 0.62);
    margin: 10px 0 0 0;
    width: 100%;
    height: 85vh;
    border-radius: 10px;
    border: 2px solid black;
    overflow-y: scroll;
}

.categories-list-container {
    margin-bottom: 20px;
}

p {
    font-size: large;
}