.img-recipe-table {
    width: 100px !important;
    margin: auto 10px;
}

.img-recipe-table img{
    filter: alpha(Opacity=80);
    opacity: 0.8;
    width: 100px !important;
    border-radius: 10px;
}

.name-category {
    width: 15%;
    margin: auto;
}

